body{
    max-width: 700px;
    margin: 20px auto 0;
    font-family: Sans-Serif, serif;
}


h1  {
    font-size: 1.6rem;
    color: #453c52;
}

h2 {
    font-size: 1.2rem;
    /*padding-left: 40px;*/
    color: #453c52;
}

p{
    /*padding-left: 60px;*/
    color: #453c52;
}

section{
    margin-top: 30px;
    /*margin-left: 20px;*/
}

.AddTodo{
    display: flex;
    align-items: stretch;
    height: 32px;
    width: 100%;
    margin-top: 20px;
}

.TodoInputText{
    margin: 0 10px;
    border: 1px solid #bfb8cc;
    border-radius: 4px;
}

.TodoDueDate{
    margin: 0 10px;
    border: 1px solid #bfb8cc;
    border-radius: 4px;
}
.TodoAddButton{
    margin: 0 10px;
    padding: 0 22px;
    background: #48BB78;
    border-radius: 5px;
    border: 1px solid transparent;
    color: white;
}

.TodoSectionTitle{
    display: flex;
    align-items: center;
}

.TodoSectionTitle-text{
    font-size: 1.2rem;
    margin-right: 8px;
    line-height: 1.4;
}
.TodoSectionTitle-remainingCount{

}

.TodoItem{
    margin-left: 30px;
}

.TodoItem-container{
    display: inline-flex;
    align-items: center;
    padding: 2px 8px;
}

.TodoItem-checkbox{
    padding: 0 10px;
    width: 16px;
    height: 16px;
}

.TodoItem-duedate{
    margin-left: 5px;
    color: darkblue;
    font-size: 10px;
}

.TodoItem-delete{
    text-decoration: none;
    margin-left: 10px;
    visibility: hidden;
}
.TodoItem-container:hover{
    background: #f1edf7;
}


.TodoItem-container:hover .TodoItem-delete{
    visibility: visible;
}

.TodoItem-container-completed{
    text-decoration: line-through;
}

.NewUser-form{
    margin-top: 20px;
}

.NewUser-form label{
    display: block;
    color: darkgrey;
    margin-bottom: 5px;
    margin-top: 12px;
}
.NewUser-input{
    display: block;
    font-size: 20px;
    padding: 8px;
    border-radius: 8px;
}

.NewUser-submitButton{
    display: block;
    font-size: 20px;
    padding: 8px 18px;
    background: #48BB78;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}